{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Rede Amigos do CPC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Fórum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "friends_list" %}">Lista de Parceiros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Amigos do CPC nas Trilhas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h3>O que são os Caminhos do Planalto Central?</h3>

<ul>
  <li>
      <p>
          Os Caminhos do Planalto Central são um sistema de trilhas com cerca de 400 Km de extensão que cortam o DIstrito Federal e compõem a Rede Brasilieira de Trilhas.
      </p>
  </li>
  <li>
      <p>
          Essas trilhas são formadas por percursos para caminhantes, ciclistas, corredores, cavaleiros e qualquer um interessado em contato com a natureza e paisagens de tirar o fôlego.
      </p>
      <a href="#" class="btn btn-warning btn-sm">Saiba mais</a>
  </li>
</ul>

<h3>O que é a rede Amigos do CPC?</h3>

<ul>
  <li>
      <p>
          A rede Amigos do CPC é um espaço colaborativo para compartilhar esforços no desenvolvimento de serviços, produtos turísticos e atividades nas trilhas do CPC.
      </p>
  </li>
  <li>
      <p>
          Ela reúne profissionais, prestadores de serviços, produtores rurais, trilheiros dentre outros interessados em desenvolver o ecoturismo no DF.
      </p>
      <a href="#" class="btn btn-warning btn-sm">Saiba mais</a>
  </li>
</ul>

<h3>Por que me tornar um Amigo do CPC?</h3>

<ul>
  <li>
      <p>
          Ao se tornar um amigo do CPC, a sua imagem e do seu negócio estarão atreladas a um projeto de ecoturismo, conservasão ambiental, cultura regional e esporte.
      </p>
  </li>
  <li>
      <p>
        Desenvolver em rede: produtos, serviços, roteiros e guias associados às trilhas.
      </p>
  </li>
  <li>
    <p>
      Divulgação em apresentações, publicações, eventos, página e redes sociais do CPC.
    </p>
    <a href="#" class="btn btn-warning btn-sm">Saiba mais</a>
</li>
</ul>

<center><h2>Torne-se um Amigo do CPC!</h2></center>

<center><a href="{% url "user_type" %}" class="btn btn-warning btn-lg">Cadastre-se</a></center>
<center><h4>ou</h4></center>
<center><a href="#" class="btn btn-warning btn-lg">Faça Login</a></center>
{% endblock content %}
